<div class="row">

  <h1>Patient Details</h1>

  <% if notice.present? then %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>

  <dl class="dl-horizontal col-sm-12">
    <dt>MRN</dt>
    <dd><%= @patient.mrn %></dd>
    <dt>First Name</dt>
    <dd><%= @patient.first_name %></dd>
    <dt>Middle Name</dt>
    <dd><%= @patient.middle_name %></dd>
    <dt>Last Name</dt>
    <dd><%= @patient.last_name %></dd>
    <dt>Height</dt>
    <dd><%= @patient.height %></dd>
    <dt>Weight</dt>
    <dd><%= @patient.weight %></dd>
  </dl>

  
  <div class="default-pad-bottom">
    <%= link_to "Add Encounter", new_encounter_path(:patient_id => @patient.id), :class => "btn btn-primary" %>
  </div>
  
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Visit Number</th>
          <th>Admitted At</th>
          <th>Discharged At</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if @patient.encounters.any? then %>
          <% @patient.encounters.each do |encounter| %>
            <tr>
              <td><%= encounter.visit_number %></td>
              <td><%= encounter.admitted_at %></td>
              <td><%= encounter.discharged_at %></td>
              <td><%= link_to 'Show', encounter %></td>
              <td><%= link_to 'Edit', edit_encounter_path(encounter) %></td>
              <td><%= link_to 'Destroy', encounter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="6">No Encounters</td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <%= link_to 'Back', root_url, :class => "btn btn-default" %>

</div>